html {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  color: rgba(0,0,0,0.8);
  line-height: 1.5;
}
@media screen and (min-width: 58em) {
  html {
    font-size: 16px;
  }
}

.home-section {
  background-color: rgb(255, 255, 255);
  padding: 10px 0 10px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}